/* This file is part of SnakeTrap.

SnakeTrap is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SnakeTrap is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SnakeTrap.  If not, see <http://www.gnu.org/licenses/>. */

/* 
#upload_mib TABLE {
	border-top: 1px solid black; 
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black; 
}
*/
#user {
	border-bottom: 1px solid black; 
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#content {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

/*
#pagination {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}	

#menu TH.menu_administration {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
}

#menu TH.menu_snmptt_def {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
}

#menu TH.menu_mibs {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
}

#menu TH.menu_traps {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
}

#menu TH.menu_unknown_traps {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
}
*/
