/* This file is part of SnakeTrap.

SnakeTrap is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SnakeTrap is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SnakeTrap.  If not, see <http://www.gnu.org/licenses/>. */

body {
	font-family: arial, serif;
	font-weight: normal;
	font-size: 10pt;
	color: #000000;
}

a img {
	border: none;
}

A:link {
	text-decoration: none;
	color: #000000;
}

A:visited {
	text-decoration: none;
	color: #000000;
}

A:active {
	text-decoration: none;
	color: #000000;
}

A:hover {
	text-decoration: underline;
	color: #000000;
}

#search_time {
	font-size: 7pt;
	font-family:"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#search_time fieldset {
	border: 0;
	margin-bottom: 20px;
	margin-left: 0px;
	height: 7em;
	margin-right: 45px;
}
	
#search_time label {
	float: left;
	margin-right: 5px;
	font-size: 1.1em;
}

#search_time select {
	margin-right: 1em;
	float: left;
	}

#search_time .ui-slider {
	clear: both;
	top: 5px;
}

#top {
	width: 100%;
}

H1 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 14pt;
}

H2 {
	font-weight: bold;
	font-size: 10pt;
}

H3 {
	font-size: 8pt;
	font-weight: normal;
}

html {
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

#notfound_content {
	padding: 30px;
}

#content {
	padding: 0px;
	-moz-border-radius: 1em 1em 1em 1em;
	border-radius: 1em 1em 1em 1em;
	border: 5px solid black;
}

#content TABLE {
	padding: 0px;
	width: 100%;
	border-spacing: 0px;
}

#content TH.checkbox_width {
	text-align: left;
	background-color: #000000;
	width: 1%;
	text-align: center;
}

#content TH.message_width {
	text-align: left;
	background-color: #000000;
	width: 35%;
}

#content TH {
	text-align: left;
	background-color: #000000;
	width: 10%;
}

#content TD {
	text-align: left;
	background-color: #ffffff;
	padding: 0px;
	text-align: center;
}

#menu {
	margin-left: 150px;
	font-weight: bold;
	vertical-align: bottom;
	margin-top: 0px;
	font-family:"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#menu A {
	color: #ffffff;
}

#menu TABLE.menu_small {
	width: 80px;
	padding: 0px;
	border-spacing: 3px 0px;
	vertical-align: bottom;
}

#menu TABLE.menu_full {
	width: 620px;
	padding: 0px;
	border-spacing: 5px 0px;
	vertical-align: bottom;
}

#menu TH {
	border-radius: 1em 1em 0em 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	background-color: #000000;
	text-align: center;
}

#menu TH.menu_administration {
	width: 110px;
	height: 20px;
}

#menu TH.menu_snmptt_def {
	width: 130px;
	height: 20px;
}

#menu TH.menu_mibs {
	width: 80px;
	height: 20px;
}

#menu TH.menu_traps {
	width: 80px;
	height: 20px;
}

#menu TH.menu_unknown_traps {
	width: 120px;
	height: 20px;
}

#logo {
	font-size: 12pt;
	padding: 10px;
	width: 100px;
	height: 20px;
	text-align: left;
}

#user {
	position: absolute;
	top: 0px;
	right: 35px;
	font-size: 8pt;
	border-radius: 0em 0em 1em 1em;
	-moz-border-radius: 0em 0em 1em 1em;
	width: 160px;
	height: 30px;
	text-align: center;
	padding: 5px;
	vertical-align: middle;
	border-bottom: 5px solid black;
	border-left: 5px solid black;
	border-right: 5px solid black;
}


#trap_bar {
	font-weight: bold;
	text-align: right;
	border-radius: 1em 1em 0em 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	height: 40px;
}

#trap_bar P.pagesize {
	font-weight: bold;
	margin-right: 0px;
	margin-bottom: auto;
	margin-top: auto;
	padding: 15px;
	text-align: right;
}

	
#trap_bar A {
	font-weight: bold;
	text-align: left;
	padding: 0px;
}

#def_bar {
	font-weight: bold;
	text-align: left;
	border-radius: 1em 1em 0em 0em;
	-moz-border-radius: 1em 1em 0em 0em;
	padding: 2px;
}

#def_bar TABLE {
	width: 100%;
	border-spacing: 0px;
	padding: 0px;
	background-color: #000000;
}

#def_bar TH {
	padding: 0px;
	text-align: left;
	background-color: #000000;
	spacing: 0px;
}

#def_bar P.left {
	padding: 0px;
	background-color: #000000 
	border-spacing: 0px;
	margin-left: 10px;
	margin-top: 2px;
	margin-bottom: 5px;
	text-align: left;
}

#def_bar TD {
	padding: 10px;
	border-spacing: 0px;
}

#def_bar TD.left {
	margin-right: auto;
	text-align: left;
}

#def_bar TD.right {
	text-align: right;
}

#def_bar A {
	font-weight: bold;
	text-align: left;
}

#trapTable {
	padding: 10px;
	-moz-border-radius: 0em 0em 1em 1em;
	border-radius: 0em 0em 1em 1em;
	font-size: 8pt;
}

#trapTable TABLE {
	background-color: #000000;
	padding: 0px;
	width: 100%;
	border-spacing: 1px;
}

#trapTable TH.checkbox_width {
	text-align: left;
	background-color: #ffffff;
	width: 1%;
	text-align: center;
}

#trapTable TH.message_width {
	text-align: left;
	background-color: #ffffff;
	width: 35%;
}

#trapTable TH {
	text-align: left;
	background-color: #ffffff;
	width: 10%;
}

#trapTable TD {
	text-align: left;
	background-color: #ffffff;
	padding: 0px;
	text-align: center;
}

#unsaved_changes IMG {
	background-color: white;
	padding: 8px;
	-moz-border-radius: 1em 1em 1em 1em;
	border-radius: 1em 1em 1em 1em;
}
#saved_changes IMG {
	background-color: yellow;
}

#defTable {
	padding: 10px;
	-moz-border-radius: 0em 0em 1em 1em;
	border-radius: 0em 0em 1em 1em;
}

#defTable TABLE {
	font-size: 8pt;
	background-color: #000000;
	padding: 0px;
	width: 100%;
	border-spacing: 1px;
}

#defTable TH.checkbox_width {
	text-align: left;
	background-color: #ffffff;
	width: 1%;
	text-align: center;
}

#defTable TH.message_width {
	text-align: left;
	background-color: #ffffff;
	width: 35%;
}

#defTable TH {
	text-align: left;
	background-color: #ffffff;
	width: 10%;
}

#defTable TD {
	text-align: left;
	background-color: #ffffff;
	padding: 0px;
	text-align: center;
}

#mass_change_form_objects {
	width: 400px;
	padding: 10px;
	background-color: red;
	-moz-border-radius: 1em 1em 1em 1em;
	border-radius: 1em 1em 1em 1em;
	font-family:"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#mass_change_form_objects TABLE {
	-moz-border-radius: 1em 1em 1em 1em;
	border-radius: 1em 1em 1em 1em;
	background-color: red;
}

#mass_change_form_objects TH {
	text-align: left;
	background-color: red;
}

#mass_change {
	padding: 10px;
	-moz-border-radius: 1em 1em 1em 1em;
	border-radius: 1em 1em 1em 1em;
}
#mass_change TABLE {
	font-size: 8pt;
	padding: 0px;
	width: 100%;
}

#mass_change TD {
	background-color: red;
	padding: 0px;
	text-align: left;
}

#mass_change LI {
	margin-left: 20px;

}

#propagate {
	padding: 10px;
}

#propagate_settings {
	background-color: white;
	width: 510px;
	-moz-border-radius: 1em 1em 1em 1em;
	border-radius: 1em 1em 1em 1em;
}

#propagate_settings TABLE {
	font-size: 8pt;
	padding: 10px;
	width: 510px;
}

#propagate_settings TH {
	background-color: white;
	-moz-border-radius: 1em 1em 1em 1em;
}

#propagate_settings TD {
	background-color: white;
	padding: 0px;
	text-align: left;
}

#propagate_objects #selected_oids {
	width: 600px;
}

#propagate_objects {
	padding: 10px;
	background-color: red;
	-moz-border-radius: 1em 1em 1em 1em;
	border-radius: 1em 1em 1em 1em;
	font-family:"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 600px;
	text-align: center;
}


#mibTable {
	padding: 10px;
	-moz-border-radius: 0em 0em 1em 1em;
	border-radius: 0em 0em 1em 1em;
}

#mibTable TABLE {
	font-size: 8pt;
	background-color: #000000;
	padding: 0px;
	width: 45%;
	border-spacing: 1px;
}

#mibTable TH.checkbox_width {
	text-align: left;
	background-color: #ffffff;
	width: 1%;
	text-align: center;
}

#mibTable TH {
	text-align: center;
	background-color: #ffffff;
	width: 99%;
}

#mibTable TD {
	text-align: left;
	background-color: #ffffff;
	padding: 0px;
	text-align: center;
}

#mibTable P {
	padding: 0px;
	margin-left: 10px;
	spacing: 0px;
}

#upload_mib {
	font-weight: bold;
	text-align: left;
	-moz-border-radius: 1em 1em 0em 0em;
	border-radius: 1em 1em 0em 0em;
}

#upload_mib TABLE {
	font-size: 8pt;
	width: 300px;
	border-spacing: 0px;
	background-color: #000000;
	margin-left: 10px;
}

#upload_mib TH {
	padding: 0px;
	text-align: left;
	background-color: #000000;
	spacing: 0px;
}

#upload_mib P {
	padding: 0px;
	margin-left: 10px;
	spacing: 0px;
}

#upload_mib TD {
	padding: 0px;
	border-spacing: 0px;
	text-align: left;
	width: 300px;
}

#upload_mib A {
	font-weight: bold;
	text-align: left;
}

#login_failure {
	background-color: red;
	-moz-border-radius: 1em 1em 1em 1em;
	border-radius: 1em 1em 1em 1em;
	padding: 1px;
	font-weight: bold;
}

#login_content {
	padding: 8px;
	background-color: #ffff00;
	-moz-border-radius: 1em 1em 1em 1em;
	border-radius: 1em 1em 1em 1em;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	border: 5px solid black;
	text-align: center;
}

#login_content TABLE {
	font-size: 8pt;
	padding: 2px;
	border: 1;
	width: 30%;
	text-align: center;
}

#login_content TH {
	text-align: left;
	width: 97%;
	padding: 5px;
}

#login_content TD {
	text-align: left;
}

#content .severityINFORMATIONAL {
	font-size: 8pt;
	background-color: #109843;
	font-weight: bold;
}

#content .severityNormal {
	font-size: 8pt;
	background-color: #109843;
	font-weight: bold;
}

#content .severityWARNING {
	font-size: 8pt;
	background-color: #fcff11;
	font-weight: bold;
}

#content .severityMINOR {
	font-size: 8pt;
	background-color: #fcff11;
	font-weight: bold;
}

#content .severityMAJOR {
	font-size: 8pt;
	background-color: #e85700;
	font-weight: bold;
}

#content .severityCRITICAL {
	font-size: 8pt;
	background-color: #e81717;
	font-weight: bold;
}

#content .statusOdd {
	font-size: 8pt;
	height: 30px;
}

#content .statusEven {
	font-size: 8pt;
	background-color: #ffffff;
	height: 30px;
}

#uploaded_mib {
	background-color: white;
	color: black;
	margin-top: 10px;
	border-radius: 1em 1em 1em 1em;
	-moz-border-radius: 1em 1em 1em 1em;
	width: 99%;
	margin-top: 0px;
	padding: 10px;
}

#uploaded_mib TABLE {
	font-size: 8pt;
	background-color: #000000;
	padding: 0px;
	width: 45%;
	margin-left: 10px;
	margin-top: 10px;
}

#uploaded_mib TH.checkbox_width {
	text-align: left;
	background-color: #000000;
	width: 1%;
	text-align: center;
}

#uploaded_mib TH {
	text-align: center;
	background-color: #000000;
	width: 99%;
}

#uploaded_mib TD {
	text-align: left;
	background-color: #ffffff;
	padding: 0px;
	text-align: center;
}

#uploaded_mib P.import_errors {
	padding: 0px;
	margin-bottom: 0px;
	spacing: 0px;
}

#uploaded_mib P.import_info {
	padding: 0px;
	margin-bottom: 0px;
	spacing: 0px;
}

#uploaded_mib P.import_summary {
	padding: 0px;
	margin-bottom: 0px;
	spacing: 0px;
}

#pagination {
	font-family:"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	color: #ffffff;
	padding: 0px 7px;
	margin-left: auto;
	margin-right: auto;
	-moz-border-radius: 0em 0em 1em 1em;
	border-radius: 0em 0em 1em 1em;
	background-color: #000000;
	width: 240px;
	height: 23px;
}

#pagination A {
	color: #ffffff;
}

#pagination TABLE {
	background-color: #000000;
	border-spacing: 0px;
}

#pagination TD {
	background-color: #000000;
}

#pagination TD.left {
	width: 65px;
	text-align: left;
}

#pagination TD.middle {
	text-align: center;
	width: 140px;
}

#pagination TD.right {
	width: 35px;
	text-align: right;
}

#error {
	margin-top: 10px;
	border-radius: 1em 1em 1em 1em;
	-moz-border-radius: 1em 1em 1em 1em;
	width: 99%;
	margin-top: 0px;
	padding: 10px;
}

#license_info
{
	margin-left: 20px;
}

#snaketrap_info
{
	margin-top: 30px;
	margin-left: 20px;
	margin-bottom: 20px;
}

#snaketrap_info SPAN.snaketrap_version {
	font-weight: bold;
}
