{% extends "traps/menu.html" %}
{% block title %}
[SnakeTrap] About
{% endblock %}

{% block content %}
	<p class="license_info">
	SnakeTrap is free software: you can redistribute it and/or modify<br />
	it under the terms of the GNU General Public License as published by<br />
	the Free Software Foundation, either version 3 of the License, or<br />
	(at your option) any later version.<br />

	SnakeTrap is distributed in the hope that it will be useful,<br />
	but WITHOUT ANY WARRANTY; without even the implied warranty of<br />
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the<br />
	GNU General Public License for more details.<br />

	You should have received a copy of the GNU General Public License<br />
	along with SnakeTrap.  If not, see <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>.<br />
	</p>
	<p class="license_info">
	SnakeTrap uses icons from the Oxygen icon theme. Oxygen is released <br />
	under the LGPL. For more information, see their <a href="http://www.oxygen-icons.org/">website</a>.
	</p>
{% endblock %}
