{% extends "traps/menu.html" %}
{% block title %}
[SnakeTrap] {{ title }}
{% endblock %}
{% block options %}
{% endblock %}
{% block content %}
	<div id="mass_change">
	<h2>You are about to {{ title|lower }} on the following objects:</h2><br/>
	<div id="mass_change_form">
		<form name="modify_lines" action="{% url traps.views.snmptt_def_mass_change_commit %}" method="POST">
			<input type="hidden" name="select_across" value="0">
			<input type="hidden" name="index" value="0">
			<input type="hidden" name="action" value="{{ action }}">
			<div id="mass_change_form_objects">
			<table>
			<tr>
			<th>OID</th>
			<th>Action</th>
			<th>Help</th>
			</tr>
			{% for selected in selected_objects %}
				<tr>
				<input type="hidden" name="selected_oids" value="{{ selected.oid }}">
				<td>{{ selected.oid }}</td>
				<td>{{ selected.action_name }}</td>
				<td>{{ selected.action_name.help }}</td>
				</tr>
			{% endfor %}
			</table>
			</div>
			{% csrf_token %}
			<br />{{ form.as_p }}<br />
			{{ help }}
			<h2>Are you sure you wish to continue?</h2>
			<input type="submit" value="Yes">
		</form>
	</div>
	</div>
{% endblock %}
