{% extends "traps/menu.html" %}
{% load filters %}
{% block title %}
[SnakeTrap] Traps
{% endblock %}

{% block content %}
	<div id="trap_bar">
		<p class="pagesize">
			Results/page:
			<a href="?pagesize=10&order={{ args.order }}&search_column={{ args.search_column }}&search_type={{ args.search_type }}&query={{ args.query }}">10</a>
			<a href="?pagesize=20&order={{ args.order }}&search_column={{ args.search_column }}&search_type={{ args.search_type }}&query={{ args.query }}">20</a>
			<a href="?pagesize=50&order={{ args.order }}&search_column={{ args.search_column }}&search_type={{ args.search_type }}&query={{ args.query }}">50</a>
			<a href="?pagesize=100&order={{ args.order }}&search_column={{ args.search_column }}&search_type={{ args.search_type }}&query={{ args.query }}">100</a>
			<a href="?pagesize=500&order={{ args.order }}&search_column={{ args.search_column }}&search_type={{ args.search_type }}&query={{ args.query }}">500</a>
			<a href="?pagesize=1000&order={{ args.order }}&search_column={{ args.search_column }}&search_type={{ args.search_type }}&query={{ args.query }}">1000</a>
		</p>
	</div>
	<div id="trapTable">
	{% if traps %}
		<div id="search_traptime" style="display: none">
		<form method="GET">
			{% csrf_token %}
			<!-- demo 2 -->
			<fieldset>
				<INPUT TYPE="hidden" NAME="search_column" VALUE="traptime|||traptime">
				<INPUT TYPE="hidden" NAME="search_type" VALUE="gte|||lte">
				<label for="date_from">From:</label>
				<select name="query" id="date_from">
					{% for day in dates %}
						<option value="{{ day }}">{{ day }}</option>
					{% endfor %}
				</select>
	
				<label for="date_to">To:</label>
				<select name="query" id="date_to">
					{% for day in dates %}
						<option value="{{ day }}">{{ day }}</option>
					{% endfor %}
				</select>
 			</fieldset>
			<INPUT TYPE="submit">
		</form>
		</div>
		<table width=100%>
		<tr>
		{% if user.is_staff %}
			<th class="checkbox_width">
				<input type="checkbox" name="Check_ctr" value="yes" onclick="javascript:CheckAll(this)">
			</th>
		{% endif %}
		<th>
			<a href=javascript:toggleDiv('search_traptime')>Traptime</a>
			<a href="?pagesize={{ args.pagesize }}&order=traptime&search_column={{ args.search_column }}&search_type={{ args.search_type }}&query={{ args.query }}"><img src="{{ MEDIA_URL }}/images/sort_ascending.png" /></a>
			<a href="?pagesize={{ args.pagesize }}&order=-traptime&search_column={{ args.search_column }}&search_type={{ args.search_type }}&query={{ args.query }}"><img src="{{ MEDIA_URL }}/images/sort_descending.png" /></a>
		</th>
		<th>
			<a href=javascript:toggleDiv('search_eventname')>EventName</a>
			<a href="?pagesize={{ args.pagesize }}&order=eventname&search_column={{ args.search_column }}&search_type={{ args.search_type }}&query={{ args.query }}"><img src="{{ MEDIA_URL }}/images/sort_ascending.png" /></a>
			<a href="?pagesize={{ args.pagesize }}&order=-eventname&search_column={{ args.search_column }}&search_type={{ args.search_type }}&query={{ args.query }}"><img src="{{ MEDIA_URL }}/images/sort_descending.png" /></a>
			<div style="display:none" id="search_eventname">
				<form name="search_eventname" method="GET">
					<INPUT TYPE="hidden" NAME="search_column" VALUE="{{ args.search_column }}|||eventname">
					<SELECT NAME="search_type">
						<OPTION VALUE="{{ args.search_type }}|||like" selected>Contains</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||nlike">Not Contains</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||eq">Is</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||neq">Is Not</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||gt">Greater Than</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||gte">Greater Than or Equal</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||lt">Lesser Than</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||lte">Lesser Than or Equal</OPTION>
					</SELECT>
					<INPUT TYPE="hidden" NAME="query" VALUE="{{ args.query }}">
					<INPUT NAME="query">
					<INPUT TYPE="submit">
				</form>
			</div>
		</th>
		<th>
			<a href=javascript:toggleDiv('search_trapoid')>TrapOID</a>
			<a href="?pagesize={{ args.pagesize }}&order=trapoid&search_column={{ args.search_column }}&search_type={{ args.search_type }}&query={{ args.query }}"><img src="{{ MEDIA_URL }}/images/sort_ascending.png" /></a>
			<a href="?pagesize={{ args.pagesize }}&order=-trapoid&search_column={{ args.search_column }}&search_type={{ args.search_type }}&query={{ args.query }}"><img src="{{ MEDIA_URL }}/images/sort_descending.png" /></a>
			<div style="display:none" id="search_trapoid">
				<form name="search_trapoid" method="GET">
					<INPUT TYPE="hidden" NAME="search_column" VALUE="{{ args.search_column }}|||trapoid">
					<SELECT NAME="search_type">
						<OPTION VALUE="{{ args.search_type }}|||like" selected>Contains</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||nlike">Not Contains</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||eq">Is</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||neq">Is Not</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||gt">Greater Than</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||gte">Greater Than or Equal</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||lt">Lesser Than</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||lte">Lesser Than or Equal</OPTION>
					</SELECT>
					<INPUT TYPE="hidden" NAME="query" VALUE="{{ args.query }}">
					<INPUT NAME="query">
					<INPUT TYPE="submit">
				</form>
			</div>
		</th>

		<th>
			<a href=javascript:toggleDiv('search_hostname')>Hostname</a>
			<a href="?pagesize={{ args.pagesize }}&order=hostname&search_column={{ args.search_column }}&search_type={{ args.search_type }}&query={{ args.query }}"><img src="{{ MEDIA_URL }}/images/sort_ascending.png" /></a>
			<a href="?pagesize={{ args.pagesize }}&order=-hostname&search_column={{ args.search_column }}&search_type={{ args.search_type }}&query={{ args.query }}"><img src="{{ MEDIA_URL }}/images/sort_descending.png" /></a>
			<div style="display:none" id="search_hostname">
				<form name="search_hostname" method="GET">
					<INPUT TYPE="hidden" NAME="search_column" VALUE="{{ args.search_column }}|||hostname">
					<SELECT NAME="search_type">
						<OPTION VALUE="{{ args.search_type }}|||like" selected>Contains</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||nlike">Not Contains</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||eq">Is</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||neq">Is Not</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||gt">Greater Than</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||gte">Greater Than or Equal</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||lt">Lesser Than</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||lte">Lesser Than or Equal</OPTION>
					</SELECT>
					<INPUT TYPE="hidden" NAME="query" VALUE="{{ args.query }}">
					<INPUT NAME="query">
					<INPUT TYPE="submit">
				</form>
			</div>
		</th>

		<th>
			<a href=javascript:toggleDiv('search_category')>Category</a>
			<a href="?pagesize={{ args.pagesize }}&order=category&search_column={{ args.search_column }}&search_type={{ args.search_type }}&query={{ args.query }}"><img src="{{ MEDIA_URL }}/images/sort_ascending.png" /></a>
			<a href="?pagesize={{ args.pagesize }}&order=-category&search_column={{ args.search_column }}&search_type={{ args.search_type }}&query={{ args.query }}"><img src="{{ MEDIA_URL }}/images/sort_descending.png" /></a>
			<div style="display:none" id="search_category">
				<form name="search_category" method="GET">
					<INPUT TYPE="hidden" NAME="search_column" VALUE="{{ args.search_column }}|||category">
					<SELECT NAME="search_type">
						<OPTION VALUE="{{ args.search_type }}|||like" selected>Contains</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||nlike">Not Contains</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||eq">Is</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||neq">Is Not</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||gt">Greater Than</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||gte">Greater Than or Equal</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||lt">Lesser Than</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||lte">Lesser Than or Equal</OPTION>
					</SELECT>
					<INPUT TYPE="hidden" NAME="query" VALUE="{{ args.query }}">
					<INPUT NAME="query">
					<INPUT TYPE="submit">
				</form>
			</div>
		</th>

		<th>
			<a href=javascript:toggleDiv('search_severity')>Severity</a>
			<a href="?pagesize={{ args.pagesize }}&order=severity&search_column={{ args.search_column }}&search_type={{ args.search_type }}&query={{ args.query }}"><img src="{{ MEDIA_URL }}/images/sort_ascending.png" /></a>
			<a href="?pagesize={{ args.pagesize }}&order=-severity&search_column={{ args.search_column }}&search_type={{ args.search_type }}&query={{ args.query }}"><img src="{{ MEDIA_URL }}/images/sort_descending.png" /></a>
			<div style="display:none" id="search_severity">
				<form name="search_severity" method="GET">
					<INPUT TYPE="hidden" NAME="search_column" VALUE="{{ args.search_column }}|||severity">
					<SELECT NAME="search_type">
						<OPTION VALUE="{{ args.search_type }}|||like" selected>Contains</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||nlike">Not Contains</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||eq">Is</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||neq">Is Not</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||gt">Greater Than</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||gte">Greater Than or Equal</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||lt">Lesser Than</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||lte">Lesser Than or Equal</OPTION>
					</SELECT>
					<INPUT TYPE="hidden" NAME="query" VALUE="{{ args.query }}">
					<INPUT NAME="query">
					<INPUT TYPE="submit">
				</form>
			</div>
		</th>

		<th class="message_width">
			<a href=javascript:toggleDiv('search_formatline')>Message</a>
			<a href="?pagesize={{ args.pagesize }}&order=formatline&search_column={{ args.search_column }}&search_type={{ args.search_type }}&query={{ args.query }}"><img src="{{ MEDIA_URL }}/images/sort_ascending.png" /></a>
			<a href="?pagesize={{ args.pagesize }}&order=-formatline&search_column={{ args.search_column }}&search_type={{ args.search_type }}&query={{ args.query }}"><img src="{{ MEDIA_URL }}/images/sort_descending.png" /></a>
			<div style="display:none" id="search_formatline">
				<form name="search_formatline" method="GET">
					<INPUT TYPE="hidden" NAME="search_column" VALUE="{{ args.search_column }}|||formatline">
					<SELECT NAME="search_type">
						<OPTION VALUE="{{ args.search_type }}|||like" selected>Contains</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||nlike">Not Contains</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||eq">Is</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||neq">Is Not</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||gt">Greater Than</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||gte">Greater Than or Equal</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||lt">Lesser Than</OPTION>
						<OPTION VALUE="{{ args.search_type }}|||lte">Lesser Than or Equal</OPTION>
					</SELECT>
					<INPUT TYPE="hidden" NAME="query" VALUE="{{ args.query }}">
					<INPUT NAME="query">
					<INPUT TYPE="submit">
				</form>
			</div>
		</th>
		</tr>
		<FORM METHOD="post" ACTION="{{ URL_PREFIX }}/remove_traps/">
		{% csrf_token %}
		{% for trap in traps.object_list %}
			<tr>
			{% if user.is_staff %}
				<td class="status{% cycle 'Odd' 'Even' %}"><input name="selected_objects" type="checkbox" value="{{ trap }}"></td>
			{% endif %}
			<td class="status{% cycle 'Odd' 'Even' %}">{{ trap.traptime }}</td>
			<td class="status{% cycle 'Odd' 'Even' %}">
				<a href=javascript:toggleDiv('{{ trap }}_{{ trap.eventname }}')>{{ trap.eventname }}</a>
				<div style="display:none" id="{{ trap }}_{{ trap.eventname }}">
					<br />
					<b><a href="?search_column={{ args.search_column }}|||eventname&search_type={{ args.search_type }}|||eq&query={{ args.query }}|||{{ trap.eventname }}">Add to search</a></b><br />
					<b><a href="?search_column={{ args.search_column }}|||eventname&search_type={{ args.search_type }}|||neq&query={{ args.query }}|||{{ trap.eventname }}">Remove from search</a></b><br />
					<b><a href="?search_column=|||eventname&search_type=|||eq&query=|||{{ trap.eventname }}">Search</a></b><br />
				</div>
			</td>
			<td class="status{% cycle 'Odd' 'Even' %}">
				<a href=javascript:toggleDiv('{{ trap }}_{{ trap.trapoid }}')>{{ trap.trapoid }}</a>
				<div style="display:none" id="{{ trap }}_{{ trap.trapoid }}">
					<br />
					<b><a href="?search_column={{ args.search_column }}|||trapoid&search_type={{ args.search_type }}|||eq&query={{ args.query }}|||{{ trap.trapoid }}">Add to search</a></b><br />
					<b><a href="?search_column={{ args.search_column }}|||trapoid&search_type={{ args.search_type }}|||neq&query={{ args.query }}|||{{ trap.trapoid }}">Remove from search</a></b><br />
					<b><a href="?search_column=|||trapoid&search_type=|||eq&query=|||{{ trap.trapoid }}">Search</a></b><br />
				</div>
			</td>
			<td class="status{% cycle 'Odd' 'Even' %}">
				<a href=javascript:toggleDiv('{{ trap }}_{{ trap.hostname }}')>{{ trap.hostname }}</a>
				<div style="display:none" id="{{ trap }}_{{ trap.hostname }}">
					<br />
					<b><a href="?search_column={{ args.search_column }}|||hostname&search_type={{ args.search_type }}|||eq&query={{ args.query }}|||{{ trap.hostname }}">Add to search</a></b><br />
					<b><a href="?search_column={{ args.search_column }}|||hostname&search_type={{ args.search_type }}|||neq&query={{ args.query }}|||{{ trap.hostname }}">Remove from search</a></b><br />
					<b><a href="?search_column=|||hostname&search_type=|||eq&query=|||{{ trap.hostname }}">Search</a></b><br />
				</div>
			</td>
			<td class="status{% cycle 'Odd' 'Even' %}">{{ trap.category }}</td>
			<td class="severity{{ trap.severity }}">
				<a href=javascript:toggleDiv('{{ trap }}_{{ trap.severity }}')>{{ trap.severity }}</a>
				<div style="display:none" id="{{ trap }}_{{ trap.severity }}">
					<br />
					<b><a href="?search_column={{ args.search_column }}|||severity&search_type={{ args.search_type }}|||eq&query={{ args.query }}|||{{ trap.severity }}">Add to search</a></b><br />
					<b><a href="?search_column={{ args.search_column }}|||severity&search_type={{ args.search_type }}|||neq&query={{ args.query }}|||{{ trap.severity }}">Remove from search</a></b><br />
					<b><a href="?search_column=|||severity&search_type=|||eq&query=|||{{ trap.severity }}">Search</a></b><br />
				</div>
			</td>
			<td class="status{% cycle 'Odd' 'Even' %}">
				{{ trap.formatline}}
			</td>
			</tr>
		{% endfor %}
		</table>
		<INPUT TYPE="submit" VALUE="Delete">
		</FORM>
		</div>
	{% endif %}
	{% if traps %}
		</div>
		<div id="pagination">
			<table>
			<td class="left">
				{% if traps.has_previous %}
					<a href="?page={{ traps.previous_page_number }}&pagesize={{ args.pagesize }}&order={{ args.order }}&search_column={{ args.search_column }}&search_type={{ args.search_type }}&query={{ args.query }}">previous</a>
				{% endif %}
			</td>
			<td class="middle">
				Page {{ traps.number }} of {{ traps.paginator.num_pages }}.
			</td>
			<td class="right">
				{% if traps.has_next %}
					<a href="?page={{ traps.next_page_number }}&pagesize={{ args.pagesize }}&order={{ args.order }}&search_column={{ args.search_column }}&search_type={{ args.search_type }}&query={{ args.query }}">next</a>
				{% endif %}
			</td>
			</table>
	{% endif %}
{% endblock %}
